.loginin {

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  margin: 0 auto;

  border: 1px solid black;
  form {

    legend {
      text-align: center;
    }div.form-buttons button {
      height: 40px;
      width: 80px;
      width:100%;
     }
    .form-field {
      width: 100%;
      margin-left: 20px;
    }
    div label {
     width: 60px;
    }
 }

 div.form-buttons button {
  height: 40px;
  width: 80px;
  width:100%;
 }

}



