ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
   background-color:lightpink;
}

mat-sidenav-container,mat-sidenav-content,  mat-sidenav {
  height: 100%;
  border: 2px sloid black;
  background-color: lightblue;
}

mat-sidenav {
   width: 250px;
}
